node-red/weather-station-node-red/Node-RED_OpenWeather_Live_Weather_Flow.json
[
  {
    "id": "427bf6dfce4d48b4",
    "type": "tab",
    "label": "OpenWeather Dashboard",
    "disabled": false,
    "info": "Live Weather Station using OpenWeather + Node-RED"
  },
  {
    "id": "f32ed8ac327d4c0c",
    "type": "ui_tab",
    "name": "Weather",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "9096d55c7b864a13",
    "type": "ui_group",
    "name": "Live Weather",
    "tab": "f32ed8ac327d4c0c",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "9e8bee502e184d20",
    "type": "inject",
    "z": "427bf6dfce4d48b4",
    "name": "Fetch weather (every 10 min)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 120,
    "wires": [
      [
        "2b851cb54fa242a4"
      ]
    ]
  },
  {
    "id": "2b851cb54fa242a4",
    "type": "http request",
    "z": "427bf6dfce4d48b4",
    "name": "OpenWeather Current Weather",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://api.openweathermap.org/data/2.5/weather?q=London&appid=YOUR_API_KEY&units=metric",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 470,
    "y": 120,
    "wires": [
      [
        "c79c8bada3be4ef9"
      ]
    ]
  },
  {
    "id": "c79c8bada3be4ef9",
    "type": "json",
    "z": "427bf6dfce4d48b4",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 700,
    "y": 120,
    "wires": [
      [
        "342d821db39e4a59"
      ]
    ]
  },
  {
    "id": "342d821db39e4a59",
    "type": "function",
    "z": "427bf6dfce4d48b4",
    "name": "Extract fields (3 outputs)",
    "func": "// Expects msg.payload from OpenWeather /data/2.5/weather\n// Output 1: condition text (string)\n// Output 2: temperature gauge (number)\n// Output 3: temperature chart (number with topic)\ntry {\n    var p = msg.payload;\n    var condition = (p.weather && p.weather[0] && p.weather[0].description) ? p.weather[0].description : \"N/A\";\n    var temp = (p.main && typeof p.main.temp !== \"undefined\") ? Number(p.main.temp) : NaN;\n    var humidity = (p.main && typeof p.main.humidity !== \"undefined\") ? p.main.humidity : \"N/A\";\n    var wind = (p.wind && typeof p.wind.speed !== \"undefined\") ? p.wind.speed : \"N/A\";\n\n    // 1) Text output\n    var msg1 = {\n        payload: `Condition: ${condition} | Humidity: ${humidity}% | Wind: ${wind} m/s`,\n        topic: \"weather\"\n    };\n\n    // 2) Gauge output (temperature)\n    var msg2 = {\n        payload: temp,\n        topic: \"temperature\"\n    };\n\n    // 3) Chart output (temperature over time)\n    var msg3 = {\n        payload: temp,\n        topic: \"Temperature (°C)\"\n    };\n\n    return [msg1, msg2, msg3];\n} catch (e) {\n    node.error(e, msg);\n    return [null, null, null];\n}\n",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [
        "2f4d7353d8e04a79"
      ],
      [
        "e555a1c669f34493"
      ],
      [
        "4229b5ee4ed04f65",
        "73c09e7f0b214b44"
      ]
    ]
  },
  {
    "id": "2f4d7353d8e04a79",
    "type": "ui_text",
    "z": "427bf6dfce4d48b4",
    "group": "9096d55c7b864a13",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Weather status",
    "label": "Live Weather",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1180,
    "y": 80,
    "wires": []
  },
  {
    "id": "e555a1c669f34493",
    "type": "ui_gauge",
    "z": "427bf6dfce4d48b4",
    "group": "9096d55c7b864a13",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": -10,
    "max": 50,
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "25",
    "seg2": "35",
    "diff": false,
    "className": "",
    "x": 1190,
    "y": 130,
    "wires": []
  },
  {
    "id": "4229b5ee4ed04f65",
    "type": "ui_chart",
    "z": "427bf6dfce4d48b4",
    "group": "9096d55c7b864a13",
    "order": 3,
    "width": 12,
    "height": 5,
    "name": "Temperature chart",
    "label": "Temperature Over Time",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "Waiting for data...",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#d62728",
      "#9467bd",
      "#8c564b",
      "#e377c2",
      "#7f7f7f",
      "#bcbd22",
      "#17becf"
    ],
    "outputs": 1,
    "className": "",
    "x": 1190,
    "y": 190,
    "wires": [
      []
    ]
  },
  {
    "id": "73c09e7f0b214b44",
    "type": "debug",
    "z": "427bf6dfce4d48b4",
    "name": "Debug temperature",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1190,
    "y": 250,
    "wires": []
  }
]