cps-node-red/chapter-1-fondations/Lab1_Hello_CPS_NodeRED_flow.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "Lab1 - Hello CPS",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inj1",
    "type": "inject",
    "z": "tab1",
    "name": "tick",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "fn1"
      ]
    ]
  },
  {
    "id": "fn1",
    "type": "function",
    "z": "tab1",
    "name": "format",
    "func": "// Lab 1: Hello CPS World (Node-RED)\n// Convert injected timestamp to ISO string and add a prefix\nmsg.payload = \"Hello CPS: \" + new Date(msg.payload).toISOString();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 140,
    "wires": [
      [
        "dbg1",
        "ui1"
      ]
    ]
  },
  {
    "id": "dbg1",
    "type": "debug",
    "z": "tab1",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 110,
    "wires": []
  },
  {
    "id": "ui1",
    "type": "ui_text",
    "z": "tab1",
    "group": "uigrp1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Hello",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560,
    "y": 170,
    "wires": []
  },
  {
    "id": "uigrp1",
    "type": "ui_group",
    "name": "Lab1",
    "tab": "uitab1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uitab1",
    "type": "ui_tab",
    "name": "CPS Labs",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]