cps-node-red/chapter-6-discrete/Lab6_Automated_CPS_Control_NodeRED_flow.json
[
  {
    "id": "tab6",
    "type": "tab",
    "label": "Lab6 - Auto Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "broker6",
    "type": "mqtt-broker",
    "name": "LocalBroker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mqin6",
    "type": "mqtt in",
    "z": "tab6",
    "name": "Temp in (JSON)",
    "topic": "/cps/temp/room",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker6",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 180,
    "y": 160,
    "wires": [
      [
        "json6",
        "dbg6"
      ]
    ]
  },
  {
    "id": "json6",
    "type": "json",
    "z": "tab6",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 380,
    "y": 160,
    "wires": [
      [
        "fn6"
      ]
    ]
  },
  {
    "id": "fn6",
    "type": "function",
    "z": "tab6",
    "name": "IF temp > 30",
    "func": "// Rule-based control: if temperature > 30°C -> FAN ON else OFF\nlet t = Number(msg.payload.t);\nmsg.topic = \"/cps/cmd/fan\";\nmsg.payload = (t > 30) ? \"ON\" : \"OFF\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 160,
    "wires": [
      [
        "mqout6",
        "status6",
        "dbg6"
      ]
    ]
  },
  {
    "id": "mqout6",
    "type": "mqtt out",
    "z": "tab6",
    "name": "Fan cmd",
    "topic": "/cps/cmd/fan",
    "qos": "",
    "retain": "",
    "broker": "broker6",
    "x": 820,
    "y": 140,
    "wires": []
  },
  {
    "id": "status6",
    "type": "ui_text",
    "z": "tab6",
    "group": "uigrp6",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Fan status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 820,
    "y": 200,
    "wires": []
  },
  {
    "id": "dbg6",
    "type": "debug",
    "z": "tab6",
    "name": "debug (full msg)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 390,
    "y": 260,
    "wires": []
  },
  {
    "id": "uigrp6",
    "type": "ui_group",
    "name": "Lab6",
    "tab": "uitab6",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uitab6",
    "type": "ui_tab",
    "name": "CPS Labs",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]