cps-node-red/chapter-2-architectures/Lab2_CPS_Dataflow_NodeRED_flow.json
[
  {
    "id": "tab2",
    "type": "tab",
    "label": "Lab2 - CPS Model",
    "disabled": false,
    "info": ""
  },
  {
    "id": "injA",
    "type": "inject",
    "z": "tab2",
    "name": "Sensor A",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor/A",
    "payload": "42",
    "payloadType": "num",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "fn2"
      ]
    ]
  },
  {
    "id": "injB",
    "type": "inject",
    "z": "tab2",
    "name": "Sensor B",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "sensor/B",
    "payload": "17",
    "payloadType": "num",
    "x": 160,
    "y": 220,
    "wires": [
      [
        "fn2"
      ]
    ]
  },
  {
    "id": "fn2",
    "type": "function",
    "z": "tab2",
    "name": "Processing",
    "func": "let v = Number(msg.payload);\nmsg.payload = { source: msg.topic, value: v, score: v * 2 };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 180,
    "wires": [
      [
        "uiGauge",
        "dbg2"
      ]
    ]
  },
  {
    "id": "uiGauge",
    "type": "ui_gauge",
    "z": "tab2",
    "group": "uigrp2",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Actuator Level",
    "label": "score",
    "format": "{{msg.payload.score}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 610,
    "y": 200,
    "wires": []
  },
  {
    "id": "dbg2",
    "type": "debug",
    "z": "tab2",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 140,
    "wires": []
  },
  {
    "id": "uigrp2",
    "type": "ui_group",
    "name": "Lab2",
    "tab": "uitab2",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uitab2",
    "type": "ui_tab",
    "name": "CPS Labs",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]