cps-node-red/chapter-4-control/Lab4_Actuator_Control_Dashboard_NodeRED_flow.json
[
  {
    "id": "tab4",
    "type": "tab",
    "label": "Lab4 - Actuator Control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "broker4",
    "type": "mqtt-broker",
    "name": "LocalBroker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoConnect": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "uiSwitch",
    "type": "ui_switch",
    "z": "tab4",
    "name": "LED",
    "label": "LED",
    "tooltip": "",
    "group": "uigrp4",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "/cps/cmd/led",
    "style": "",
    "onvalue": "ON",
    "onvalueType": "str",
    "offvalue": "OFF",
    "offvalueType": "str",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "mqoutLED",
        "dbgLED"
      ]
    ]
  },
  {
    "id": "mqoutLED",
    "type": "mqtt out",
    "z": "tab4",
    "name": "LED cmd",
    "topic": "/cps/cmd/led",
    "qos": "",
    "retain": "",
    "broker": "broker4",
    "x": 430,
    "y": 140,
    "wires": []
  },
  {
    "id": "dbgLED",
    "type": "debug",
    "z": "tab4",
    "name": "LED debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 430,
    "y": 90,
    "wires": []
  },
  {
    "id": "slider",
    "type": "ui_slider",
    "z": "tab4",
    "name": "Servo",
    "label": "Servo Angle (deg)",
    "tooltip": "",
    "group": "uigrp4",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "",
    "min": 0,
    "max": "180",
    "step": 1,
    "x": 180,
    "y": 220,
    "wires": [
      [
        "fnServo"
      ]
    ]
  },
  {
    "id": "fnServo",
    "type": "function",
    "z": "tab4",
    "name": "pack angle",
    "func": "// Pack slider value into a JSON payload for ESP32\nmsg.topic = \"/cps/cmd/servo\";\nmsg.payload = { angle: Number(msg.payload) };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 220,
    "wires": [
      [
        "mqoutServo",
        "dbgServo"
      ]
    ]
  },
  {
    "id": "mqoutServo",
    "type": "mqtt out",
    "z": "tab4",
    "name": "Servo cmd",
    "topic": "/cps/cmd/servo",
    "qos": "",
    "retain": "",
    "broker": "broker4",
    "x": 650,
    "y": 220,
    "wires": []
  },
  {
    "id": "dbgServo",
    "type": "debug",
    "z": "tab4",
    "name": "Servo debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 650,
    "y": 170,
    "wires": []
  },
  {
    "id": "uigrp4",
    "type": "ui_group",
    "name": "Lab4",
    "tab": "uitab4",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "uitab4",
    "type": "ui_tab",
    "name": "CPS Labs",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]