gpt-node-red/simple-pack/node_red_flow_esp32_gpt_dashboard.json
[
  {
    "id": "tab1",
    "type": "tab",
    "label": "ESP32 \u2192 GPT \u2192 Dashboard",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "tab1",
    "name": "MQTT IN: cps/esp32/sensor",
    "topic": "cps/esp32/sensor",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 120,
    "wires": [
      [
        "json_parse"
      ]
    ]
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 380,
    "y": 120,
    "wires": [
      [
        "to_dash",
        "to_gpt_prompt"
      ]
    ]
  },
  {
    "id": "to_dash",
    "type": "function",
    "z": "tab1",
    "name": "Dashboard payloads",
    "func": "const p = msg.payload || {};\n// Output1: gauge/text\nconst m1 = { payload: Number(p.ldr), topic: p.device || 'esp32' };\n// Output2: chart\nconst m2 = { payload: Number(p.ldr), topic: (p.device || 'esp32') + ':ldr' };\nreturn [m1, m2];",
    "outputs": 2,
    "noerr": 0,
    "x": 610,
    "y": 90,
    "wires": [
      [
        "ui_gauge",
        "ui_text"
      ],
      [
        "ui_chart"
      ]
    ]
  },
  {
    "id": "to_gpt_prompt",
    "type": "function",
    "z": "tab1",
    "name": "Build GPT summary prompt",
    "func": "const p = msg.payload || {};\nconst v = Number(p.ldr);\n\n// keep last 20 values\nconst N = 20;\nlet arr = flow.get('ldr_window') || [];\nif (!Number.isNaN(v)) {\n  arr.push(v);\n  if (arr.length > N) arr.shift();\n}\nflow.set('ldr_window', arr);\n\nconst min = Math.min(...arr);\nconst max = Math.max(...arr);\nconst avg = arr.reduce((a,b)=>a+b,0) / (arr.length || 1);\nlet trend = 'stable';\nif (arr.length >= 6) {\n  const delta = arr[arr.length-1] - arr[0];\n  if (delta > 80) trend = 'increasing';\n  else if (delta < -80) trend = 'decreasing';\n}\n\n// Custom ChatGPT node uses msg.topic to select model/mode\nmsg.topic = 'gpt4o';\nmsg.payload = [\n  'You are a CPS monitoring assistant.',\n  'Summarize the sensor status in 1-2 short sentences for students.',\n  'Return ONLY the summary text.',\n  '',\n  `Device: ${p.device || 'esp32'}`,\n  `Latest LDR: ${v}`,\n  `Window size: ${arr.length}`,\n  `Avg: ${avg.toFixed(1)}, Min: ${min}, Max: ${max}, Trend: ${trend}`\n].join('\\n');\n\nmsg.temperature = 0.3;\nmsg.max_tokens = 80;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 160,
    "wires": [
      [
        "chatgpt"
      ]
    ]
  },
  {
    "id": "chatgpt",
    "type": "chatgpt",
    "z": "tab1",
    "name": "GPT Summary",
    "x": 890,
    "y": 160,
    "wires": [
      [
        "ui_gpt_text",
        "dbg_gpt"
      ]
    ]
  },
  {
    "id": "ui_gauge",
    "type": "ui_gauge",
    "z": "tab1",
    "name": "LDR Gauge",
    "group": "ui_group",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "LDR (0\u20134095)",
    "label": "ADC",
    "format": "{{value}}",
    "min": 0,
    "max": "4095",
    "x": 860,
    "y": 70,
    "wires": []
  },
  {
    "id": "ui_text",
    "type": "ui_text",
    "z": "tab1",
    "group": "ui_group",
    "order": 2,
    "width": 6,
    "height": 1,
    "name": "Latest LDR",
    "label": "Latest",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 860,
    "y": 110,
    "wires": []
  },
  {
    "id": "ui_chart",
    "type": "ui_chart",
    "z": "tab1",
    "name": "LDR Chart",
    "group": "ui_group",
    "order": 3,
    "width": 12,
    "height": 6,
    "label": "LDR Trend",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for sensor\u2026",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": "10",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useUTC": false,
    "x": 860,
    "y": 150,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "ui_gpt_text",
    "type": "ui_text",
    "z": "tab1",
    "group": "ui_group",
    "order": 4,
    "width": 12,
    "height": 2,
    "name": "GPT Summary Text",
    "label": "GPT Summary",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1100,
    "y": 160,
    "wires": []
  },
  {
    "id": "dbg_gpt",
    "type": "debug",
    "z": "tab1",
    "name": "GPT output",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 1100,
    "y": 210,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "127.0.0.1",
    "port": "1883",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab",
    "type": "ui_tab",
    "name": "CPS Dashboard",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group",
    "type": "ui_group",
    "name": "ESP32 Monitor",
    "tab": "ui_tab",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  }
]